---
layout: default
---

  
	<div class="post">

	  <header class="post-header">
	    <h1 class="post-title">{{ page.title }}</h1>
	  </header>

	  <article class="post-content">
	    {{ content }}
	  </article>


    <div class="container">

      <!-- start of content automatically grabbed from Profiles -->
      <div class="jumbotron">
	<div id="profiles_photo_container"></div>
	<h1 id="profiles_name"></h1>
	<p id="profiles_narrative"></p>
      </div>
      <div class="row">
	<div class="col-md-7 col-md-offset-1"> <!-- start first column -->

	  <h2>Connect</h2>
	  <ul>
	    <li id="profiles_email_link_container"></li>
	    <li id="profiles_page_link_container"></li>
	  </ul>

	  <div id="profiles_awards"><h2>Awards</h2></div>
	  <div id="profiles_publications"><h2>Publications</h2></div>


		</div> 

